<!-- site bar -->
<nav
  id="page-header"
  class="navbar navbar-expand-lg bg-light fixed-top theme-color p-3"
>
  <div class="container">
    <div class="d-flex">
      <div class="my-auto">
          <h2 class="navbar-brand text-white m-0 me-2">
            Immersive Asset Library
          </h2>
      </div>
      <div class="my-auto">
        <a href="/assets/models" class="text-white">
          3d Models
        </a>
      </div>
      <div class="my-auto mx-2">
      |
      </div>
      <div class="my-auto">
        <a href="/assets/360" class="text-white ">
          360 Images
        </a>
      </div>
    </div>
    <div class="navbar" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-lg-0">
        <li class="nav-item d-flex gap-3">
          <div>
          <a href="/upload"><button class="rounded-5 upload-btn px-3 py-1"> <i class="fa-solid fa-arrow-up-from-bracket me-2" ></i><strong>UPLOAD</strong></button></a>
          </div>
          <div class="dropdown my-auto">
            <a
              href="/single_asset_create"
              type="button"
              data-bs-toggle="dropdown"

              aria-expanded="false"
              class="text-white dropdown-toggle"
            >
              <%= user.email.split("@")[0] %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                type="button"
                href="/<%= user._id %>/dashboard/profile"
                class="dropdown-item"
                >Profile</a
              >
              <a
                type="button"
                href="/<%= user._id %>/dashboard/uploads"
                class="dropdown-item"
                >Uploads</a
              >
              <a
                type="button"
                href="/<%= user._id %>/dashboard/downloads"
                class="dropdown-item"
                >Downloads</a
              >
              <a
                type="button"
                href="/<%= user._id %>/dashboard/enrollment"
                class="dropdown-item"
                >Enrollments</a
              >
              <a
                type="button"
                href="/logout"
                class="dropdown-item"
                >Logout</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="mt-5"></main>
