<%- include('partials/header') %>

    <!-- Upload File Section -->
    <h1>Upload File</h1>
    <form action="/home" method="post" type="text" enctype="multipart/form-data">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="description">Description:</label>
      <input type="textarea" id="description" name="description"><br><br>
      <input type="file" id="myFile" name="filetoupload" accept=".obj, .fbx">
      <input type="submit">
    </form>

    <br>
    <hr class="solid">
    <br>
    <!-- Search Bar Section -->
    <h1>Search</h1>
    <form action="/search" method="post" type="text" enctype="multipart/form-data">
      <input type="text" id="search-input" name="searchinput">
      <input type="submit">
    </form>
    <table>
      <% for(var i = 0; i < data.searchList.length; i++) { %>
      <tr>
          <td><%= data.searchList[i].name %></td>
          <td><%= data.searchList[i].description %></td>
          <td><a href="download/<%= data.searchList[i].fileLocation %>" role="button"><button>Download</button></a></td>
          <td><a style="<%= userStatus.isAdmin ? '' : 'display:none' %>" href="delete/<%= data.searchList[i].id %>" role="button"><button>Delete</button></a></td>
      </tr>
      <% } %>
    </table>

    <br>
    <hr class="solid">
    <br>

<%- include('partials/footer') %>
