<%- include('./partials/header') %>

<!-- <link rel="stylesheet" href="./public/edit-page.css"> -->
<script
  type="module"
  src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"
></script>
<script type="text/javascript" src="/datamuse.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.3/dist/js/splide.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.3/dist/css/splide.min.css"
/>
<section class="d-flex flex-column m-auto mt-5">
  <div class="row justify-content-center">
    <div class="col-7 d-flex flex-column flex-wrap">
      <!-- Carousel wrapper -->
      <div
        id="carouselExampleIndicators"
        class="carousel slide carousel-model-view"
        data-bs-interval="false"
      >
        <!-- Slides -->
        <div
          class="carousel-inner shadow-1-strong rounded-3 carousel-model-view"
        >
          <div class="carousel-item active" data-bs-interval="false">
            <model-viewer
              class="model-viewer-dimensions"
              id="model-viewer"
              alt=""
              src=""
              ar
              ar-modes="webxr scene-viewer quick-look"
              seamless-poster
              shadow-intensity="1"
              camera-controls
              enable-pan
            ></model-viewer>
          </div>
          <!-- <div class="carousel-item" data-bs-interval="false">
            <img
              src=""
              class="thumbnail-img d-block w-100 carousel-image"
              alt="..."
            />
          </div> -->
        </div>
        <!-- Slides -->

        <!-- Controls -->
        <button
          class="carousel-control-prev"
          type="button"
          data-mdb-target="#carouselExampleIndicators"
          data-mdb-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-mdb-target="#carouselExampleIndicators"
          data-mdb-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <!-- Controls -->

        <!-- Thumbnails -->
        <!-- <section class="splide w-75" aria-labelledby="carousel-heading">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <button
                  type="button"
                  data-mdb-target="#carouselExampleIndicators"
                  data-mdb-slide-to="2"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 2"
                  style="width: 100px"
                >
                  <img
                    class="d-block w-100 shadow-1-strong rounded carousel-size"
                    src="../uploads/shiba/thumbnail.png"
                    class="img-fluid"
                  />
                </button>
              </li>
            </ul>
          </div>
        </section> -->
        <div class="carousel-indicators" style="margin-bottom: -20px; margin-left: 0; right: auto;">
          <button
            type="button"
            data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
            style="width: 100px"
          >
            <img
              class="thumbnail-img d-block w-100 shadow-1-strong rounded carousel-size"
              src="../uploads/shiba/thumbnail.png"
              class="img-fluid"
            />
          </button>
          <!-- <buttonsection-
            type="button"
            data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide-to="1"
            aria-label="Slide 2"
            style="width: 100px"
          >
            <img
              class="thumbnail-img d-block w-100 shadow-1-strong rounded carousel-size"
              src=""
              class="img-fluid"
            />
          </button> -->
        </div>
        <!-- Thumbnails -->
      </div>
      <!-- <div>
        <model-viewer
          class="model-viewer-dimensions border border-secondary rounded-4"
          id="model-viewer"
          alt=""
          src="../uploads/shiba/gltf/scene.gltf"
          ar
          ar-modes="webxr scene-viewer quick-look"
          seamless-poster
          shadow-intensity="1"
          camera-controls
          enable-pan
        ></model-viewer>
      </div> -->
      <div>
        <div>
          <h5><%= data.title %></h5>
        </div>
        <hr />
        <div>
          <h6>Description</h6>
          <p><%= data.description %></p>
        </div>

        <div id="selected_tags_group" class="selected-tags">
          <i class="fa-solid fa-tag icon-size"></i>
          <%data.tags.forEach(tag=>{%>
          <div
            class="tag border border-secondary rounded-2 px-1 text-muted bg-transparent"
          >
            <span class="selected_tag_element"><%= tag %></span>
          </div>

          <%})%>
        </div>
      </div>
    </div>
    <div class="col-3 d-flex flew-wrap gap-4 flex-column">
      <div>
        <h6>3D Model Details</h6>
      </div>
      <div class="border border-secondary rounded-2 p-2">
        <div class="d-flex justify-content-between align-items-center p-1">
          <p class="m-0">Uploaded By</p>
          <p class="m-0"><%= owner.split("@")[0] %></p>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between align-items-center p-1">
          <p class="m-0">Published</p>
          <p class="m-0"><%= data.uploaddate.toLocaleString().split(",")[0] %></p>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between align-items-center p-1">
          <p class="m-0">Low Poly</p>
          <%if(data.atrribute.lowpoly){%>
          <i class="fa-regular fa-circle-check"></i>
          <%}else{%>
          <i class="fa-regular fa-circle-xmark"></i>
          <%}%>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between align-items-center p-1">
          <p class="m-0">Low Poly</p>
          <%if(data.atrribute.lowpoly){%>
          <i class="fa-regular fa-circle-check"></i>
          <%}else{%>
          <i class="fa-regular fa-circle-xmark"></i>
          <%}%>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between align-items-center p-1">
          <p class="m-0">Rigged</p>
          <%if(data.atrribute.rigged){%>
          <i class="fa-regular fa-circle-check"></i>
          <%}else{%>
          <i class="fa-regular fa-circle-xmark"></i>
          <%}%>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between align-items-center p-1">
          <p class="m-0">Animated</p>
          <%if(data.atrribute.animated){%>
          <i class="fa-regular fa-circle-check"></i>
          <%}else{%>
          <i class="fa-regular fa-circle-xmark"></i>
          <%}%>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between align-items-center p-1">
          <p class="m-0">Textured</p>
          <%if(data.atrribute.textured){%>
          <i class="fa-regular fa-circle-check"></i>
          <%}else{%>
          <i class="fa-regular fa-circle-xmark"></i>
          <%}%>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between align-items-center p-1">
          <p class="m-0">Download Size</p>
          <p class="m-0"><%= data.filesize %></p>
        </div>
      </div>
      <div class="w-100">
        <form class="" action="/downloadasset/<%= assettype %>/<%= data._id %>" method="post">
            <!-- <input type="submit" id='submit-btn' value="download"> -->
            <button type="submit" id='submit-btn' value="download" class="w-100 btn theme-color btn-rounded">
                Download
            </button>
          </form>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var data = <%-JSON.stringify(data) %>;
  var files = [];
  console.log(data);
  var modelviewer = document.getElementById("model-viewer");
  var thumbnails = document.getElementsByClassName("thumbnail-img");
  console.log(thumbnails);
  console.log(modelviewer);
  getEJScontent(data);

  function getEJScontent(data) {
    Array.from(thumbnails).forEach((element) => {
      element.src =
        "." + data.assetPath.folderpath + "/" + data.assetPath.thumbnail;
    });
    console.log(data.assetPath.gltfmodelpath);
    modelviewer.src = data.assetPath.gltfmodelpath;
  }

  modelviewer.addEventListener("load", () => {
    const material = modelviewer.model.materials[0];
    const createAndApplyTexture = async (channel) => {
      // Applies the new texture to the specified channel.
      var diffusepath = data.assetPath.folderpath.diffuse;
      console.log("---->", data.assetPath.folderpath);
      console.log(
        "." + data.assetPath.folderpath + "/" + data.assetPath.diffuse
      );
      if (diffusepath != "") {
        var diffuse = await modelviewer.createTexture(
          "." + data.assetPath.folderpath + "/" + data.assetPath.diffuse
        );
        material.pbrMetallicRoughness["baseColorTexture"].setTexture(diffuse);
      }
      var emissivepath = data.assetPath.folderpath.emission;
      if (emissivepath != "") {
        var emission = await modelviewer.createTexture(
          "." + data.assetPath.folderpath + "/" + data.assetPath.emission
        );
        material["emissiveTexture"].setTexture(emission);
      }
    };
    createAndApplyTexture("baseColorTexture");
  });
</script>

<%- include('./partials/footer') %>
