<%- include('../partials/header'); %>
<div class="m-auto">
  <section class="w-75 m-auto">
    <div
      class="container px-5 py-3 rounded-8 shadow-6 d-flex justify-content-between flex-wrap background-color"
    >
      <div
        class="row d-flex align-self-center justify-content-evenly"
      >
        <div class="align-self-center my-4">
          <h1 class="title">Set Password</h1>
        </div>
        <div class="align-self-center my-4">
          <% if (!isActivated) {%>
            <form action="/authentication/activate?token=<%= token %>&id=<%= userId%>" method="POST">
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  name="password"
                  type="password"
                  id="form1Example23"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="form1Example23">Password</label>
              </div>
              <!-- Confirm Password input -->
              <div class="form-outline mb-4">
                <input
                  name="confirmPassword"
                  type="password"
                  id="form1Example23"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="form1Example23"
                  >Confirm Password</label
                >
              </div>
              <!-- Submit button -->
              <button type="submit" class="theme-color btn btn-lg btn-block">
                Set
              </button>
            </form>
          <%}else{%>
            <form action="/reset-password?token=<%= token %>&id=<%= userId%>" method="POST">
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  name="password"
                  type="password"
                  id="form1Example23"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="form1Example23">Password</label>
              </div>
              <!-- Confirm Password input -->
              <div class="form-outline mb-4">
                <input
                  name="confirmPassword"
                  type="password"
                  id="form1ExampleConfirmPassword"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="form1ExampleConfirmPassword"
                  >Confirm Password</label
                >
              </div>
              <!-- Submit button -->
              <button type="submit" class="theme-color btn btn-lg btn-block">
                Set
              </button>
            </form>
          <%}%>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('../partials/footer'); %>
